<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current Date: {{date}} and Time: {{time}}</h1>
    <h2>Date and Time before and after {{day}} days</h2>
    <h3>Before {{day}} Days: {{m_day}}</h3>
    <h3>After {{day}} Days: {{p_day}}</h3>
    <h2>Date and Time before and after {{day}} hours</h2>
    <h3>Before {{day}} Hours: {{m_hour}}</h3>
    <h3>After {{day}} Hours: {{p_hour}}</h3>
</body>
</html>